@import url('https://fonts.googleapis.com/css2?family=Russo+One&family=Titillium+Web:wght@200;400;600&display=swap');


:root {
    --fonte-principal: 'Titillium Web', sans-serif;
    --fonte-titulo: 'Russo One', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#home {
    background-image: url("../imagens/plantacao-de-soja.png"); 
    background-color: black;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
}

.header {
    height: 100px;
    font-family: var(--fonte-principal);
    font-weight: 600;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.header img {
    width: 100px;
}

.header ul li {
    display: inline-block;
}

#nav_links {
    text-decoration: none;
    list-style: none;
    color: white;
    text-shadow: white 0px 0 10px;
    padding: 5px;
}

#nav_links:hover {
    color: white;
    text-shadow: rgb(0, 116, 70) 0px 0 10px;
}

.titulo {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-top: 3%;
}

.titulo h1 {
    font-family: var(--fonte-titulo);
    font-size: 80px;
    color: white;
    padding: 10%;
    padding-bottom: 0 ;
    justify-content: center;
    align-items: center;
    text-align: start;
}

.titulo a {
    text-decoration: none;
    background-color: rgb(0, 116, 70);
    text-shadow: black 1px 0 10px;
    color: white;
    font-family: var(--fonte-principal);
    font-size: 18px;
    padding: 20px;
    border-radius: 15px;
}

.nav__cor img{
    width: 30px;
}

.nav__cor {
    display: flex;
    gap: 50px;
}

.login {
    text-decoration: none;
    padding: 8px 18px;
    border-radius: 8px;
    background-color: rgb(0, 116, 70);
    color: white;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.login:hover {
    background-color:rgb(0, 76, 45);
}

#icon:hover {
    width: 28px;
}


.titulo_link {
    display: flex;
    flex-direction: column;
}

.titulo_link a {
    width: 20%;
    text-align: center;
}

.titulo_link a:hover {
    background-color:rgb(0, 76, 45);
}

.titulo_imagem {
    margin: 5%;
}

#box-link {
    display: flex;
    margin-left: 10%;
    gap: 20px;
}

#problema {
    height: auto;
    margin: 5%;
}

#publico{
    height: 60vh;
    margin: 5%;
}

#publico-slide {
    max-width: 600px;
    max-height: 600px;
}

.layout {
    display: grid;
    grid-template-columns: 50% 50%;
    font-family: var(--fonte-principal);
}

.title {
    display: flex;
    align-items: center;
    gap: 40px;
    font-size: 48px;
    line-height: 60px; 
    margin: 2%;
    font-family: var(--fonte-principal);
}

.text {
    margin: 5%;
    margin-left: 15%;
    font-size: 18px;
    color: #807f7f;
}

.title img{
    width: 70px;
}

.layout-img img {
    width: 100%;
}

#tecnologia {
    background-image: url(../imagens/agricultura-inteligente-com-iot-agricola.jpg);
    background-size: 100%;
    height: 100vh;
}

 .tecnologia__title {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    margin: 0;
 }

 .tecnologia-title h1{
    font-family: var(--fonte-principal);
    margin: 2%;
    color: #00380b;
    
 }

 .tecnologia-text {
    display: flex;
    flex-direction: column;
    color: white;
    font-family: var(--fonte-principal);
 }

.tecnologia-text p {
    margin-top: 20rem;
    margin-left: 50%;
    background-color: #00380b;
    color: #c0c0c0;
    padding: 2%;
    border-radius: 18px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#beneficios{
    font-family: var(--fonte-principal);
    margin: 5%;
}

.title-beneficios {
    font-family: var(--fonte-principal);
    font-size: 40px;
    display: flex;
    margin-bottom: 3%;
    gap: 20px;
}

.title-beneficios img {
    width: 100px;
}

.text-beneficios {
    margin: 0;
    justify-content: center;
}

.beneficios-img {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin-top: 3%;
    font-size: 20px;
}

.beneficios-box {
    width: 220px;
    height: 250px;
    padding: 2rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    border-radius: 20px;
}

.title-contato {
    display: flex;
    font-size: 30px;
}

#date {
    color: white;
    font-family: var(--fonte-principal);
    font-size: 24px;
    padding-top: 0.5%;
    text-align: center;
}

.rodape {
    background-color: #131313;
    height: auto;
}

.rodape iframe {
    margin: 1% 0;
}

#endereco {
    color: white;
    font-family: var(--fonte-principal);
    font-size: 24px;
    text-align: center;
}

.rodape-logo {
    display: flex;
    flex-direction: column;
    padding: 2%;

    justify-content: center;
    align-items: center;
    color: white;
    font-family: var(--fonte-principal);

}

